<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="vendor/bin/.phpunit/phpunit.xsd">

  <coverage>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./DependencyInjection</directory>
      <directory>./Resources</directory>
      <directory>./Tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </coverage>

  <php>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[indirect]=1"/>
  </php>

  <testsuites>
    <testsuite name="Test Suite">
      <directory suffix="Test.php">./Tests</directory>
    </testsuite>
  </testsuites>

</phpunit>
